<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <div class="profile-container">
      <h1>Profil Sayfası</h1>
      <% if (locals.success_msg) { %>
      <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
      <form action="/users/profile/update" method="POST">
        <div>
          <label for="name">İsim:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= user.name %>"
            required
          />
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= user.email %>"
            required
          />
        </div>
        <button type="submit">Güncelle</button>
      </form>
      <form action="/users/profile/delete" method="POST">
        <button type="submit" class="delete">Hesabı Sil</button>
      </form>

      <h2>Tariflerim</h2>
      <ul>
        <% user.recipes.forEach(function(recipe) { %>
        <li>
          <strong><%= recipe.name %></strong>
          <form
            action="/recipes/update/<%= recipe._id %>"
            method="POST"
            style="display: inline"
          >
            <input type="hidden" name="_method" value="PUT" />
            <input
              type="text"
              name="name"
              value="<%= recipe.name %>"
              required
            />
            <textarea name="ingredients" required>
<%= recipe.ingredients %></textarea
            >
            <textarea name="description" required>
<%= recipe.description %></textarea
            >
            <button type="submit">Güncelle</button>
          </form>
          <form
            action="/recipes/delete/<%= recipe._id %>"
            method="POST"
            style="display: inline"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="delete">Sil</button>
          </form>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
